<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Query
    <%= link_to 'Back', queries_path, class:'pull-right' %></h4>
  </div>
  <div class="panel-body">
    <%= render 'form', query: @query %>
  </div>
</div>
